.informacion {
  position: fixed;
  width: 100%;
  height: 100vh;
  border: 1px solid #00f200;
  background-color: #000000;
}

.quit{
  width: 35px;
  height: 35px;
  font-size: 30px;
  color: #00f200;
  background-color: transparent;
  cursor: pointer;
  justify-content:flex-end;
  border: none;
  font-family: 'Courier New', Courier, monospace;
}

.boton-e{
  display: flex;
  justify-content: flex-end;
}

.informacion.abierto {
  z-index: 1000;
  animation: entrada 0.5s ease-in-out;
}

.informacion.oculto {
 display: none; 
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: translateY(-1500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

