

.contenedor-profile img{
  border: 2px solid #21a6ff;
  border-radius: 2rem;
  position: relative;
  display: inline-block;
}
.text-over-image {
  position: absolute;
  top: 60%; 
 
  transform: translate(-50%, -50%); 
  transform: translateX(10%);
  color: #c4e7ff; 
  font-size: 16px; 
  font-family:  'Courier New', Courier, monospace; 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px; 
  border-radius: 5px;
  max-width: 320px;
   
  text-align: center; 
}